
<!DOCTYPE html>
<html>
<head>
    <title>добавление события</title>
</head>

<body>
    <form action="SavEvent">
        <div>
            <label>Name</label>
            <input name="Name" />
        </div>
        <div>
            <label>Date</label>
            <input name="Date" type="datetime-local" />
        </div>
        <input type="submit" value="Add" />

    </form>
</body>
</html>
